.aside-form {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--shape-body);
    border-radius: 1rem;

}

.background-high-light {
     border-radius: 1rem;

     & h1 {
     color: var(--text-heading);
     font-family: var(--font-family-logo);
     font-size: 2.5rem;
     color: var(--accent-pink);
}
     
}

.menu-form-title-name-of-event, .menu-description-input {
    grid-column: span 2/3;

}

.menu-description-text-area {
  grid-column: span 2/3;
  display: grid;
    & #text-area {
        height: 8.5rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        border: solid 1px var(--input-stroke) ;
        background-color: var(--input-base);
         color: var(--input-placeholder);
        

        
    }

}

textarea::placeholder{
    color: var(--input-placeholder);

}

.btn-form {
    display: flex;
    gap: .5rem;
    border: solid 1px var(--input-stroke) ;
    padding: .2rem;
     height: 2.8rem;
     border-radius: .5rem;

    & button {
            width: 100%;
            background-color: transparent;
            border-radius: .5rem;
            border: solid 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            cursor: pointer;


            & span {
                color: var( --text-heading);
            }
        
    }

      & button:hover {
                background-color: var(--shape-hover);

      }
  
}

aside {
    overflow-y: auto;
}
 



input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
 
}

input[type="date"] {
  background-image: url('../assets/icons/calendar.png'); 
  background-repeat: no-repeat;
  background-position: right .5rem center; 
  background-size: 1rem 1rem;
  padding-right: 2rem; 
}



.color-btn {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    & button {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        border: solid .4rem var(--input-stroke);
        cursor: pointer;
    }

    & button:hover {
        border: solid .2rem var(--input-stroke);
    }

      &  button:nth-child(1) {
        background-color: var(--accent-cyan);
      }
         &  button:nth-child(2) {
        background-color: var(--accent-navy);
      }
         &  button:nth-child(3) {
        background-color: var(--accent-purple);
      }
        &  button:nth-child(4) {
        background-color: var(--accent-fuschia);
      }
         &  button:nth-child(5) {
        background-color: var(--accent-pink);
      }
         &  button:nth-child(6) {
        background-color: var( --danger);
      }
         &  button:nth-child(7) {
        background-color: var(--accent-orange);
      }
         &  button:nth-child(8) {
        background-color: var(--accent-lime);
      }
         &  button:nth-child(9) {
        background-color: var(--accent-green);
      }
         &  button:nth-child(10) {
        background-color: var(--accent-cyan);
      }
}

.btn-form #btn-building svg {
  stroke: white;
  transition: stroke 0.3s ease;

}

.btn-form  #btn-building:hover svg {
  stroke: var(  --brand-light);
  transition: stroke 0.3s ease;

}

.btn-form #btn-video svg {
  stroke: white;
  transition: stroke 0.3s ease;

}
.btn-form  #btn-video:hover svg {
  stroke: var(--danger);
  transition: stroke 0.3s ease;

}





.card-thema {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background-color: var( --input-stroke);
    border-radius: 1rem;
    padding: .4rem;
    border: solid 1px var( --input-base);
    & img {
        width: 100%;
    }
    & p {
        text-align: center;
    }
}

.btn-switch {
    & p {
        padding-block: 1.2rem;
    }
}

.menu-data-user {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}


.menu-data-user div:nth-child(1) {
  grid-column: span 2/3;
}

.menu-data-user {
  & label span {
    padding-block: 1rem;
  }
}

.terms-and-conditions {
  display: grid;
  justify-content: left;
  padding-block:2.5rem;
}

.terms-02 , .terms-03 {
  justify-self: baseline;
}


.conditions {
 display: grid;
 grid-auto-flow: column;
 gap: 1rem;
 justify-content: center;
 align-items: center;
}

#btn-invite-send {
  min-width: 11rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--brand-dark);
  max-width: 10rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding-inline: 1.25rem;
  transition: background-color 0.3s ease;
}

#btn-invite-send:hover {
  background-color: var(--brand-mid);
}

#btn-invite-send span {
  font-family: var(--font-family-baloo-2);
  font-weight: var(--font-size-body-md);
}

.btn-invite-send-class {
  display: flex;
  justify-content: end;
}
