@media (max-width: 900px) {

  .aside-form {


  padding: 2rem 1rem;
   


}
  .mobile-column {
    display: grid;
    grid-auto-flow: dense;
     grid-template-columns: 1fr;
  }

  .container {
     padding: .5rem;
  }

  .menu-form {
    display: flex;
    flex-direction: column;
  }

  .background-aside-mobile {
   
     height: 400px;
  }

  body {
    overflow: auto;
  }



  .aside-mobile {
 
   overflow-y: hidden;
}
.card-thema {
    justify-content: center;
}


header {
    justify-content: center;
}


main {
    height: auto;
}
.color-btn {

    justify-content: center;
}

.btn-invite-send-class {
    display: flex;
    justify-content: end;
    padding: 1rem;
}


}