

.grid {
    display: grid;
}

.column-grid {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}




.background-fixed {
    background-image: url(../assets/img/Background.png);
    background-position: center;
    background-size: cover;
    padding: 2rem;
}