:root {

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;


  --accent-purple: #B259FF;
  --accent-fuschia: #FF59F9;
  --accent-pink: #FF598B;
  --accent-orange: #FF8B59;
  --accent-yellow: #FFCD59;
  --accent-lime: #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan: #59FFF9;
  --accent-navy: #6A59FF;


  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;


  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;


  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;


  --font-family-logo: "Leckerli One", cursive;
  --font-family-baloo-2: "Baloo 2", sans-serif;
  --font-family-open-sans: "Open Sans", sans-serif;


  --font-size-heading-md: 1.75rem;
  --font-size-heading-sm: 1.12rem;
  --font-size-body-md: 1rem;
  --font-size-body-sm: .8rem;
  --font-size-body-xs: .7rem;


  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;




}

.grid {
    display: grid;
}

.column-grid {
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
}




.background-fixed {
    background-image: url(../assets/img/Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
  
}